@font-face {
  font-family: 'Raleway';
  src: url('../../fonts/Raleway/Raleway.woff2') format('woff2'),
  url('../../fonts/Raleway/Raleway.woff') format('woff'),
  url('../../fonts/Raleway/Raleway.ttf') format('truetype');
  font-display: swap
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato/Lato.woff2') format('woff2'),
  url('../../fonts/Lato/Lato.woff') format('woff'),
  url('../../fonts/Lato/Lato.ttf') format('truetype');
  font-display: swap
}